<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="egypt.aswitch.bulb.home.smart.abanoub.com.switch_bulb">
    <!-- Flutter needs it to communicate with the running application
         to allow setting breakpoints, to provide hot reload, etc.
    -->
    <uses-permission android:name="android.permission.INTERNET"/>
</manifest>
